In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("../data/alarms.csv", delimiter=";")

In [7]:
df

,id,region_id,region_city,all_region,start,end
0,52432,12,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28
1,53292,23,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43
2,52080,3,Вінницька обл.,1,2022-02-24 15:40:42,2022-02-24 16:10:42
3,52857,19,Харківська обл.,1,2022-02-24 20:11:47,2022-02-24 20:59:47
4,52700,18,Тернопільська обл.,1,2022-02-25 01:59:36,2022-02-25 09:00:19
...,...,...,...,...,...,...
55783,158642,14,Одеська обл.,1,2025-03-01 21:49:30,2025-03-01 23:24:45
55784,158635,9,Київська обл.,1,2025-03-01 22:20:51,2025-03-02 01:38:57
55785,158636,9,Київ,0,2025-03-01 22:52:10,2025-03-02 00:55:18
55786,158617,3,Вінницька обл.,1,2025-03-01 23:26:07,2025-03-02 02:44:07
55787,158629,6,Житомирська обл.,1,2025-03-01 23:26:07,2025-03-02 02:43:26

In [8]:
df['all_region'] = df['all_region'].replace(0, 1)

In [9]:
df

,id,region_id,region_city,all_region,start,end
0,52432,12,Львівська обл.,1,2022-02-24 07:43:17,2022-02-24 09:52:28
1,53292,23,Чернігівська обл.,1,2022-02-24 14:00:43,2022-02-24 17:11:43
2,52080,3,Вінницька обл.,1,2022-02-24 15:40:42,2022-02-24 16:10:42
3,52857,19,Харківська обл.,1,2022-02-24 20:11:47,2022-02-24 20:59:47
4,52700,18,Тернопільська обл.,1,2022-02-25 01:59:36,2022-02-25 09:00:19
...,...,...,...,...,...,...
55783,158642,14,Одеська обл.,1,2025-03-01 21:49:30,2025-03-01 23:24:45
55784,158635,9,Київська обл.,1,2025-03-01 22:20:51,2025-03-02 01:38:57
55785,158636,9,Київ,1,2025-03-01 22:52:10,2025-03-02 00:55:18
55786,158617,3,Вінницька обл.,1,2025-03-01 23:26:07,2025-03-02 02:44:07
55787,158629,6,Житомирська обл.,1,2025-03-01 23:26:07,2025-03-02 02:43:26

In [10]:
df.to_csv("../data/alarms.csv", index=False, sep=';')